<div class="edit-container">
  <div>
<h1 class="edit-header">Edit Your Truck</h1>
</div>

<div>
{{#with truck}}
<form action="/{{_id}}/truck/edit" method="post">
<div class="label-edit">
  <label for="name">Name: </label>
  <input type="text" name="name" id="name" value="{{name}}">
  </div>

<div class="label-edit">
  <label for="description">Description: </label>
  <input type="text" name="description" id="description" value="{{description}}">
</div>
</div>


<div class="label-edit">
  <p>Location:</p>
  </div>
  <div id='map' style='width: 600px; height: 300px;'></div>
  <script src="/javascripts/add-truck.js"></script>

  <input type="text" name="lng" id="lng" style="display: none;">
  <input type="text" name="lat" id="lat" style="display: none;">
</div>

<div class="edit-container">
<div class="label-edit">
  <label for="menu">Menu: </label>
  <input type="text" name="menu" id="menu" value="{{menu}}">
</div>

<div class="label-edit">
  <label for="hours">Hours: </label>
  <input type="text" name="hours" id="hours" value="{{hours}}">
  </div>

  <button class="btn-edit-truck" type="submit">Save Changes</button>

</form>
{{/with}}
</div>